p2{
    background-color: aqua; font-size: large;
    text-align: center;
}
p3{
    background-color: antiquewhite; font-size: 20px;
    text-align: center;
    font-style: italic;
}

.flex-container {
    display: flex;
    flex-direction: row;
    justify-content: center;
    justify-content: space-between;
}